@import '../../styles/styles.scss';

.signUp{
    background: url('../../assets/images/signUp/bg2.jpeg') no-repeat center center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

    .signUpContent {
        background-color: white;
        .errorMessage {
            font-size: 13px;
            padding-top: spacing(0.5);
        }
    }
    @media screen and (max-width : 599px) {
     height: 1150px;
    }
    @media screen and (max-width : 280px) {
     height: 1250px;
    }
    @media screen and (min-width: 0px) {
        .MuiContainer-maxWidthXs {
            max-width: 540px;
        }

    }
}

