.signIn{
    background: url('../../assets/images/login/bg2.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 150px;
}
.signInContent {
    background-color: white;
}