@import "../../styles/styles.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  align-items: center;

  .container-fluid {
    padding: 0;

    .navbar {
      padding: 0;

      &-brand {
        img {
          position: absolute;
          top: 50%;
          left: spacing(2);
          width: 50px;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }

      &-toggler {
        border: none;
        outline: none;
      }

      &-collapse {
        .navbar-nav {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);

          .nav-item {
            .nav-link {
              @include text(
                getColor("black"),
                getFz("body2"),
                getFw("regular")
              );
              margin-right: spacing(2);
              transition: all 0.2s;
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              -ms-transition: all 0.2s;
              -o-transition: all 0.2s;

              &:hover {
                color: getColor("primary");
              }
            }
          }
        }

        .navbar__right {
          margin-left: auto;
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            padding: 0;
            @include text(
              getColor("grey_2"),
              getFz("subtitle1"),
              getFw("regular")
            );
          }

          &__login {
            border-right: 1px solid #e9e9e9;
            padding-right: spacing(1.1);
            display: flex;
            justify-content: center;
            align-items: center;
            @include text(
              getColor("grey_2"),
              getFz("subtitle1"),
              getFw("regular")
            );

            .btn-logout {
              margin-left: spacing(1);
              padding: spacing(0.5, 1);
              outline: none;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
            }

            .user-name {
              @include text(
                getColor("secondary"),
                getFz("body1") + 2,
                getFw("regular")
              );
            }

            .login-item {
              border-right: 0.5px dotted getBg("grey_1");
            }

            .login-item,
            .signup-item {
              text-decoration: none;
              @include text(
                getColor("grey_2"),
                getFz("subtitle1") + 2,
                getFw("regular")
              );

              padding: spacing(0, 0.5);

              &:hover {
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                color: getColor("primary");
              }
            }

            img {
              width: 30px;
              margin-right: spacing(0.5);
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
    }
  }

  @include respond-to("large") {
    .navbar-nav {
      left: 35% !important;
    }
  }

  @include respond-to("medium") {
  }
}

.modal-header-expand {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 0;
}

.side-nav {
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: getBg("black");
  z-index: 5;

  .modal-dialog {
    margin: 0;
    width: 100%;

    .modal-content {
      border: none;
      background-color: getBg("black");

      .modal-header {
        border: none;
      }

      .modal-body {
        padding: 0;
        .side-nav__link {
          color: getColor("grey_1");
          &:hover {
            color: getColor("primary");
          }
        }
      }
    }
  }

  &__login {
    border-right: 1px solid #e9e9e9;
    padding-right: spacing(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
    @include text(getColor("grey_2"), getFz("subtitle1"), getFw("regular"));

    .btn-logout {
      margin-left: spacing(1);
      padding: spacing(0.5, 1);
      outline: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    .user-name {
      @include text(
        getColor("secondary"),
        getFz("body1") + 2,
        getFw("regular")
      );
    }

    .login-item {
      border-right: 0.5px dotted getBg("grey_1");
    }

    .login-item,
    .signup-item {
      text-decoration: none;
      @include text(
        getColor("grey_2"),
        getFz("subtitle1") + 2,
        getFw("regular")
      );

      padding: spacing(0, 0.5);

      &:hover {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        color: getColor("primary");
      }
    }

    img {
      width: 30px;
      margin-right: spacing(0.5);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  &__link {
    display: block;
    padding: 20px;
    position: relative;
    @include text(getColor("black"), getFz("body1") + 2, getFw("regular"));
    text-decoration: none !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;

    &:hover {
      color: getColor("black");
    }
  }
}

.modal-backdrop.show {
  display: none;
}
