@import '../../styles/styles.scss';

.carousel-section {
    padding-top: spacing(6);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  
    .container-fluid {
      padding: 0;
      position: relative;
  
      .carousel {
        background: linear-gradient(to top, #000, transparent 20%);
  
        &-inner {
          .slick-arrow{
            z-index: 1;
            &::before {
              font-size:50px;
            }
          }

          .slick-prev {
            left: 15px;            
          }

          .slick-next {
            right: 45px;            
          }

          .slick-dots {
            position: absolute;
            bottom: 10%;
            z-index: 5;
            
            li {
              width: 12px;
              height: 12px;
              opacity: 1;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              background-color: getBg("white");
              button::before {
                opacity: 0;
              }
            }
          }
          .slick-active {
            background-color: getBg("primary") !important;
          }

          .carousel-item {
            a {
              img {
                width: 100%;
                height: 100%;
              }
            }
            &:hover {
              .btn-trailer {
                visibility: visible;
              }
            }
          }
        }
      }
  
      img {
        width: 200px;
        height: 200px;
      }
    }
  }