@import '../../styles/styles.scss';

.checkout {
    padding-top: 60px;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: spacing(1, 0);
      margin-top: spacing(3);
      padding-left: spacing(6);
  
      .left-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .logo-cinema {
          .logo {
            width: 45px;
            height: 45px;
          }
        }
  
        .content-cinema {
          padding-left: spacing(1);
  
          .p-address {
            margin: 0;
            @include text(getColor("black_2"), getFz("body1"), getFw("regular"));
  
            .p-cinema {
              color: getColor("address_text_name");
            }
          }
  
          .p-hour {
            margin: 0;
            @include text(getColor("grey_2"), getFz("body2"), getFw("regular"));
          }
        }
      }
  
      .right-title {
        .info1 {
          margin: 0;
          @include text(getColor("grey_2"), getFz("subtitle2") - 2, getFw("regular"));
        }
  
        .info2 {
          margin: 0;
          @include text(getColor("primary"), getFz("h4") - 3, getFw("regular"));
        }
      }
    }
  
    .seat-map {
      padding-top: spacing(2);
  
      .seat-list {
        display: flex;
        justify-content: space-around;

        .seat-list__head {
          display: flex;
          flex-direction: column;
          font-size: getFz("h5") + 4;
          padding-top: spacing(2);
          padding-left: spacing(2);

          .seat-title {
            line-height: 48px;
          }
        }
  
        .tbl-seat-list {
          display: grid;
          place-items: center;
          margin: auto;
          width: 85%;
          
          .MuiButton-root {
            min-width: 40px;
          }

          .MuiButtonBase-root {
            padding: 0px;
            font-size: 28px;
            outline: none;
          }

          .tr-seat {  
            .fa-chair {
              font-size: getFz("h6");
              color: getColor("black_2");
              margin-right: spacing(1.5);
              cursor: pointer;
            }
  
            .vip-seat {
              color: #f7b500;
            }
          }
        }
      }
  
      .seat-type {
        display: flex;
        justify-content: center;
        padding-top: spacing(3.5);
        text-align: center;
  
        .type {
          padding: spacing(0, 1.2);
  
          .fa-chair {
            font-size: getFz("h5");
            color: getColor("black_2");
          }
  
          .type-text {
            @include text(getColor("grey_2"), getFz("subtitle2"), getFw("regular"));
          }
  
          .vip-seat {
            color: #f7b500;
          }
  
          .selecting {
            color: #44c020;
          }
  
          .selected {
            color: getColor("primary");
          }
        }
      }
    }
  
    @include respond-to("extra-large") {
      .seat-map {
        .seat-list {
          .seat-list__head {
            font-size: 25px;
  
            .seat-title {
              line-height: 45px;
            }
          }

          .tbl-seat-list {
            .MuiButton-root {
              min-width: 35px;
            }

            .MuiButtonBase-root {
              font-size: 25px;
            }
          }
        }
      }
    }

    @include respond-to("large") {
      .seat-map {
        padding: 0 !important;

        .seat-list {
          .seat-list__head {
            font-size: 25px;
  
            .seat-title {
              line-height: 45px;
            }
          }

          .tbl-seat-list {
            .MuiButton-root {
              min-width: 28px;
            }

            .MuiButtonBase-root {
              font-size: 25px;
            }
          }
        }
      }
    }
  
    @include respond-to("medium") {
      .row-checkout {
        max-width: 100%;
        margin: 0;
        padding: 0;
  
        .checkout__header {
          width: 100%;
  
          .header-md {
            width: 100%;
            text-align: center;
          }
        }
      }
      
    }
  
    @include respond-to("small") {
      .checkout__content {
        .left-title {
          .logo-cinema {
            .logo {
              width: 30px;
              height: 30px;
            }
          }
  
          .content-cinema {
            .p-address {
              font-size: getFz("subtitle1");
            }
          }
        }
  
        .right-title {
          .info2 {
            font-size: getFz("h5");
          }
        }
      }
      
      .container-config__small {
        padding: 0;
      }

      .seat-map {
        .seat-list {
          width: 100%;

          .seat-list__head {
            font-size: 18px;
  
            .seat-title {
              line-height: 38px;
            }
          }

          .tbl-seat-list {
            .MuiButton-root {
              min-width: 20px;
            }

            .MuiButtonBase-root {
              font-size: 18px;
            }
          }
        }
      }
    }
  
    @include respond-to("x-small") {
      .container-config__x-small{
        padding: 5px;
      }

      .checkout__content {
        flex-direction: column;
  
        .left-title {
          .content-cinema {
            .p-address {
              font-size: getFz("subtitle2");
            }
          }
        }
  
        .right-title {
          margin-top: spacing(1);
        }
      }
  
      .seat-map {
        .seat-list {
          .seat-list__head {
            font-size: 12px;
          padding-left: spacing(0.5);
          padding-right: spacing(0.5);
  
            .seat-title {
              line-height: 32px;
            }
          }

          .tbl-seat-list {
            width: 95%;

            .MuiButton-root {
              min-width: 14px;
            }

            .MuiButtonBase-root {
              font-size: 12px;
            }
          }
        }
      }
  
      .seat-type {
        .type {
          padding: spacing(0, 0.6) !important;
  
          .fa-chair {
            font-size: getFz("subtitle2") - 2 !important;
          }
  
          .type-text {
            font-size: getFz("subtitle2") - 2 !important;
          }
        }
      }
    }
  }