.modal-open {
    .header {
        opacity: .5;
    }
}

.navbar {
    .dropdown-toggle::after {
        display: none;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../../assets/images/menu-options.png');
    width: 25px;
    height: 16px;
}