.modal-open {
    .header {
        opacity: .5;
    }
}

.navbar {
    .dropdown-toggle::after {
        display: none;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../../assets/images/menu-options.png');
    width: 25px;
    height: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon {
    background-image: url('../../assets/images/back-session.png');
    left: 15px;
}

.carousel-control-next-icon {
    background-image: url('../../assets/images/next-session.png');
    right: 15px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: .5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    border: none;
    opacity: 0.5;
    left: -8%;
    z-index: 10;

    span {
        @include text(getColor("black"), getFz("h6") * 5, getFw("light"));
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: transparent !important;
    }
}

.owl-next {
    left: unset;
    right: -8%;
}

@include respond-to('extra-large') {
    .owl-prev {
        left: -7%;
    }

    .owl-next {
        right: -7%;
    }
}

@include respond-to('medium') {
    .owl-prev {
        left: -10%;
    }

    .owl-next {
        right: -10%;
    }
}

@include respond-to('small') {
    .owl-prev {
        left: -15%;

        span {
            @include text(getColor("black"), getFz("h6") * 4, getFw("light"));
        }
    }

    .owl-next {
        right: -15%;

        span {
            @include text(getColor("black"), getFz("h6") * 4, getFw("light"));
        }
    }
}

@include respond-to('x-small') {
    .owl-prev {
        left: -17%;

        span {
            @include text(getColor("black"), getFz("h6") * 3, getFw("light"));
        }
    }

    .owl-next {
        right: -17%;

        span {
            @include text(getColor("black"), getFz("h6") * 3, getFw("light"));
        }
    }
}