* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TixFont';
    src: url('../../assets/fonts/FontsFree-Net-SFProText-Regular.ttf');
}

body {
    font-family: 'TixFont', sans-serif;
}

.back-to-top {
    a {
        display: none;

        img {
            position: fixed;
            right: 5px;
            bottom: 0;
            width: 24px;
            height: 24px;
            z-index: 2;
            transition: all .2s;
            opacity: 1;
            display: block;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}